.navbar-wrapper {
    height: 100px;
    font-family: 'Merriweather', serif;
    /* background: linear-gradient(to right, #42275a, #4a2e80, #734b6d); */
    background: linear-gradient(to right, rgb(65, 39, 90), rgb(74, 46, 128), rgb(115, 75, 109));
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 300;
    padding-top: 5px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu a li {
    display: inline;
    color: white;
}

.home-img-wrapper{
    display: block;
    z-index: 20;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* background: url(http://notrealdomain2.com/newbanner.png) no-repeat; */
    width: 100%; /* Width of new image */
    height: 100%; /* Height of new image */
    /*padding-left: 180px; /*Equal to width of new image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 40%;
    background-image: url("http://i.dailymail.co.uk/i/pix/2017/09/04/06/43E2C6F100000578-4849844-Isaiah_Webb_came_in_second_in_the_full_beard_freestyle_section-a-78_1504504493043.jpg")
}
.hello{
    margin-top: 100px;
    padding: 25px;
    height: 600px;
}
h1 {
    color: coral;
    display: inline-block;
    
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    height: 13px;
    font-size: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efdfef;
    z-index: 300;
}